.header {
    text-align: center;
    border-bottom:35px solid #60f7c5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    padding: 15px;
}
.mat-table {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mat-stroked-button {
    width:150px!important;
    white-space: pre-wrap !important;
}